Repository mweiershaeuser/loyolaorsino: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

added version number to docker-compose file image name
  docker-compose.yaml
Due: none

fix error in docker compose: wrong quotation marks
  docker-compose.yaml
Due: none

added .angular folder to .prettierignore
  .prettierignore
Due: none

feat: updated lint-staged to latest
  package-lock.json
  package.json
Due: prettier --write

feat: updated husky
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

feat: update bootstrap and bootstrap-icons
  package-lock.json
  package.json
  src/bootstrap.scss
  src/styles.scss
  src/theme.scss
Due: prettier --write

feat: update eslint and prettier
  package-lock.json
  package.json
  src/app/home/components/notes/notes.component.html
  src/app/home/home.component.ts
  src/app/home/services/memories/memories.service.ts
  src/app/home/services/notes/notes.service.ts
  src/app/legal/imprint/imprint.component.html
  src/app/legal/privacy-policy/privacy-policy.component.html
  src/app/shared/services/header/header.service.ts
  src/index.html
Due: eslint --fix, prettier --write

feat: update angular to version 14
  angular.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

feat: update rxjs
  package-lock.json
  package.json
Due: prettier --write

feat: update ngx-masonry
  package-lock.json
  package.json
Due: prettier --write

feat: update typescript to 4.8.2
  package-lock.json
  package.json
Due: prettier --write

feat: update angular to version 15
  .browserslistrc
  angular.json
  package-lock.json
  package.json
  src/bootstrap.scss
  tsconfig.json
Due: prettier --write

feat: update typescript to 4.9.3
  package-lock.json
  package.json
Due: prettier --write

feat: update angular to version 16
  package-lock.json
  package.json
Due: prettier --write

feat: update typescript to 5.3.3
  package-lock.json
  package.json
Due: prettier --write

feat: update angular to version 17
  angular.json
  package-lock.json
  package.json
Due: prettier --write

feat: updated jest-preset-angular and fixed absolute imports
  .gitignore
  jest-global-mocks.ts
  jest.config.js
  package-lock.json
  package.json
  src/app/core/container/container.component.spec.ts
  src/app/core/footer/footer.component.spec.ts
  src/app/core/header/header.component.ts
  src/app/core/menu/menu.component.spec.ts
  src/app/core/menu/menu.component.ts
  src/app/home/components/memories/memories.component.spec.ts
  src/app/home/components/memories/memories.component.ts
  src/app/home/components/notes/notes.component.spec.ts
  src/app/home/home.component.ts
  src/app/home/services/memories/memories.service.ts
  src/app/home/services/notes/notes.service.ts
  src/app/legal/imprint/imprint.component.spec.ts
  src/app/legal/privacy-policy/privacy-policy.component.spec.ts
  src/app/shared/components/section/section.component.ts
  src/app/shared/services/header/header.service.ts
  tsconfig.spec.json
Due: eslint --fix, prettier --write

feat: removed unused packages
  package-lock.json
  package.json
Due: prettier --write

feat: fixed RouterTestingModule deprecation
  src/app/app.component.spec.ts
  src/app/core/container/container.component.spec.ts
  src/app/core/content/content.component.spec.ts
  src/app/home/home.component.spec.ts
Due: eslint --fix, prettier --write

feat: updated swiper and fixed tests
  jest-global-mocks.ts
  package-lock.json
  package.json
  src/app/home/components/memories/memories.component.spec.ts
  src/app/home/components/notes/notes.component.spec.ts
  src/app/home/home.component.spec.ts
  src/app/shared/components/masonry/masonry.component.spec.ts
  src/app/shared/components/masonry/ngx-masonry.mock.ts
  src/app/shared/components/slider/slider.component.html
  src/app/shared/components/slider/slider.component.scss
  src/app/shared/components/slider/slider.component.spec.ts
  src/app/shared/components/slider/slider.component.ts
  src/app/shared/components/slider/slider.module.ts
  src/app/shared/shared.module.ts
  src/main.ts
  src/slider.scss
  src/styles.scss
Due: eslint --fix, prettier --write

feat: adjusted version number
  Dockerfile
  docker-compose.yaml
  package-lock.json
  package.json
Due: prettier --write

feat: update copyright notice
  src/app/core/footer/footer.component.html
Due: eslint --fix, prettier --write

feat: removed autoplay from notes
  src/app/home/components/notes/notes.component.html
Due: eslint --fix, prettier --write

fest: adjusted Readme
  README.md
Due: none

feat: updated minor and patch updates and increased version number
  docker-compose.yaml
  package-lock.json
  package.json
Due: prettier --write

feat: enabled lazy loading for videos
  src/app/home/home.component.html
  src/assets/LoyolaOrsino_video1_poster.png
  src/assets/LoyolaOrsino_video2_poster.png
Due: eslint --fix, prettier --write

feat: added gh pages deployment
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

fix: added job dependency to gh pages workflow
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

fix: added fix for running angular spa on github pages
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

feat: migrate to gh pages
  .github/workflows/build-and-deploy-to-ghpages.yaml
  .github/workflows/build-and-push-images.yaml
  Dockerfile
  docker-compose.yaml
  nginx.conf
Due: none

fix: fix gh pages base href
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

fix: gh pages base href
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

fix: remove base href
  .github/workflows/build-and-deploy-to-ghpages.yaml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,html}
  prettier --write: any of: *.{js,ts,jsx,tsx,json,css,scss,sass,html}
